<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativesceneform">
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />
  <uses-feature android:name="com.google.ar.core.depth" />
  <queries>
    <package android:name="com.google.ar.core"/>
  </queries>
</manifest>
